<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <p><strong>Instagram Handle:</strong> swilk</p>
</p>


<p>
  <strong>Karma:</strong>
  <%= @user.karma %>
</p>


<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>
