%p
  %strong Instagram Handle:
  = link_to(@user.username, "https://www.instagram.com/#{@user.username}")
%p
  %strong Karma:
  = @user.karma
- unless @user.about.blank?
  %p
    %strong About:
    = @user.about
